<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Tasks App</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#tasks">Tasks</a></li>
        </ul>
        <ul class="nav pull-right">
          <li>Sign Out</li>
        </div>
      </div>
    </div>
  </div>
</div>
