<h2>Tasks</h2>
  {{#if content.length}}
    <table class="table">
      <thead>
        <th></th>
        <th>Name</th>
        <th></th>
        <th></th>
      </thead>
      {{#each controller}}
        {{view TasksEmber.TaskRowView}}
      {{/each}}
    </table>
  {{else}}
    <div>Nothing to see here....</div>
  {{/if}}

<div>
  <a {{action createTask href=true}}>Create New</a>
</div>
